{% extends 'base.html' %}
{% load static %}

{% block title %}
  Your posted Ads
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'Css/adsPage.css' %}" />
{% endblock %}

{% block body %}
  <!-- Navbar Start -->
  {% include 'navbar.html' %}
  <!-- Navbar end -->

  <!-- product page  -->
  {% if products %}
    <div class="container p-3 adsbox mt-4">
      <div class="totalads">
        <p class="mb-0 text-muted">
          <u>You Posted <b>{{ products.count }}</b> Ads</u>
        </p>
      </div>
      {% for product in products %}
        <div class="card adcard mt-3 px-1 py-1">
          <div class="d-flex adsbox text-center align-items-center">
            <!-- Created At -->
            <div class="me-3">
              <strong class="text-muted">Posted At:</strong>
              <p class="mb-0">{{ product.created_at|date:'d M Y' }}</p>
            </div>
            <!-- Product Picture -->
            <hr style="width: 2px; height: 48px;" class="hr" />
            <div class="adsinfo text-center">
              <div>
                <div class="me-3">
                  <img src="{{ product.images.first.image1.url }}" alt="Product Image" onerror="src='{% static "img/onerrorimage.webp" %}'" class="img-fluid" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;" />
                </div>
              </div>

              <!-- Product Title -->
              <div class="text-center">
                <div class="me-3">
                  <h6 class="mb-0 text-truncate">{{ product.title|truncatechars:'20' }}</h6>
                </div>
                <!-- Price -->
                <div class="me-5">
                  <h6 class="text-success fw-bold mb-0">₹ {{ product.price }}</h6>
                </div>
              </div>
              <!-- Posted -->
              <div>
                <a class="badge my-2 py-2 px-3 bg-primary">Posted</a>
                <a href="{% url 'deletead' product.slug %}" class="badge text-light py-2 px-3 bg-danger">Delete</a>
              </div>
            </div>
          </div>
          <hr style="margin: 2px;" />
          <div class="d-flex m-0 justify-content-center">
            <p class="me-5">
              <i class="fas fa-eye"></i> Views - <strong>{{ product.views }}</strong>
            </p>
            <p>
              <i class="fas fa-heart {% if product.likes > 0 %}text-danger{% endif %} "></i> Likes - <strong>{{ product.likes }}</strong>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- if no products then appear this -->
  {% else %}

  <section class="py-1 py-md-2 min-vh-75 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
              <span class="display-1 fw-bold">O</span>
              <i class="far fa-frown text-danger display-4"></i>
              <span class="display-1 fw-bold bsb-flip-h">P</span>
              <span class="display-1 fw-bold bsb-flip-h">P</span>
              <span class="display-1 fw-bold bsb-flip-h">S</span>
            </h2>
            <h3 class="h2 mb-2">You haven't listed anything yet</h3>
            <p class="mb-5">Let go of what you don't use anymore</p>
            <a style="width: 190px;" href="{% url 'sellitem' %}" class="gradient-btn col-md-3 m-auto text-white d-none d-lg-flex"><i class="py-1 px-1 fas fa-plus"></i>Sell Item</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
