{% extends 'base.html' %}

{% load static %}

{% block title %}
  All-Products
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'Css/allproduct.css' %}" />
{% endblock %}

{% block body %}
  <!-- Navbar Start -->
  {% include 'navbar.html' %}
  <!-- Navbar end -->

  <!-- start all products -->

  <div class="container-xxl py-5">
    <div class="container">
      {% if products %}
      <div class="row g-0 gx-5 align-items-end">
        <div class="col-lg-6">
          <div class="text-start mx-auto mb-1 mb-lg-3 wow slideInLeft" data-wow-delay="0.1s">
            <h3 class="mb-1">Buy & Sell used products near your city</h3>
          </div>
        </div>
      </div>
        <div class="totalads">
          <p class="mb-0 text-dark">
            <b>{{ products.count }}</b> ads in your city
          </p>
        </div>
        <hr class="mb-3 mt-0" />
        <div class="tab-content">
          <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-3">
              {% for product in products %}
                <div class="col-lg-3 col-6 col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="property-item rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                      <a href=""><img class="img-thumbnail prodimg border-1 border-dark" src="{{ product.images.first.image1.url }}" alt="" /></a>
                      <div class="bg-danger rounded text-white position-absolute end-0 top-0 m-2 pt-1 px-2">
                        <i class="fs-5 fas fa-heart"></i>
                      </div>
                    </div>
                    <div class="p-2 pb-0">
                      <div style="display: flex;justify-content: space-between; align-items: center;">
                        <h5 class="priceelemnt text-primary mb-1">₹ {{ product.price }}</h5>
                        <p class="categoryp px-2 py-1 rounded mb-1">{{ product.category|truncatechars:8 }}</p>
                      </div>
                      <a class="titleitem d-block h6 mb-1" href="">{{ product.title|slice:':30' }}</a>
                      <p class="descitem">{{ product.description|slice:':45' }}...</p>
                    </div>
                    <div class="d-flex border-top py-2">
                      <small class="flex-fill text-center border-end"><i class="fa fa-map-marker-alt text-primary mx-1"></i>{{ product.location|slice:':20' }}...</small>
                      <small class="flex-fill text-center"><i class="fa fa-clock text-primary mx-1"></i>{{ product.created_at|date:'d M Y' }}</small>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
        <section class="py-1 py-md-2 min-vh-75 d-flex justify-content-center align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                    <span class="display-1 fw-bold">S</span>
                    <i class="far fa-frown text-danger display-4"></i>
                    <span class="display-1 fw-bold bsb-flip-h">R</span>
                    <span class="display-1 fw-bold bsb-flip-h">R</span>
                    <span class="display-1 fw-bold bsb-flip-h">Y</span>
                  </h2>
                  <h3 class="h2 mb-2">Oops! Product not found.</h3>
                  <p class="mb-5">We didn't find anything that matches this search. Try search for something more general</p>
                  <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="/" role="button">Back to Home</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    </div>
  </div>

  <!-- end products -->
{% endblock %}
