{% load static %}
<div class="container">
  <div class="p-2 me-0 text-center">
    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Icon" style="width: 40px; height: 35px;" />
  </div>
  <div class="form-container">
    <div class="form-title">Welcome to RedealX</div>
    <form method="post">
      <!-- Username -->
      {% csrf_token %}
      <input type="hidden" name="form_type" value="login" />
      <div class="mb-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="lusername" class="form-control fmc" id="uusername" placeholder="Enter username" required />
      </div>
      <!-- Password -->
      <div class="mb-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="lpassword" class="form-control fmc" id="upassword" placeholder="Enter password" required />
        <span style="position: absolute;top: 50%;right: 50px; cursor: pointer;" onclick="togglePasswordVisibility('upassword', this)"><i class="bi bi-eye"></i></span>
      </div>
      <!-- Submit Button -->
      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-submit">Log in</button>
      </div>
    </form>

    <div class="form-footer">
      <p class="fs-5 text-dark">or</p>
      <div class="gologin text-dark mb-3">
        <img class="googlepic me-2" src="{% static 'img/google.png' %}" alt="" />
        <div>Continue with Google</div>
      </div>Not on ReDealX yet? <a href="" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#SignUp">Sign up</a>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(fieldId, toggleElement) {
    const passwordField = document.getElementById(fieldId) // Use fieldId parameter instead of upassword
    const icon = toggleElement.querySelector('i')
  
    if (passwordField.type === 'password') {
      passwordField.type = 'text'
      icon.classList.remove('bi-eye')
      icon.classList.add('bi-eye-slash')
    } else {
      passwordField.type = 'password'
      icon.classList.remove('bi-eye-slash')
      icon.classList.add('bi-eye')
    }
  }
</script>
