.totalads {
    display: flex;
    justify-content: flex-end;/* Distributes the content from right to left */
    align-items: center; /* Aligns vertically, optional */
    width: 100%; /* Adjust width as needed */
    padding: 10px; /* Optional for spacing */
}


/* all product products */
  .custom-col-5 {
  width: 20%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  float: left;
}

@media (max-width: 992px) {
  .custom-col-5 {
    width: 33.33%; /* 3 per row on tablets */
  }
}

@media (max-width: 768px) {
  .custom-col-5 {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .custom-col-5 {
    width: 50%; 
  }
}

.wrapper{

    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    position: relative;
    display: block;
    color: var(--primary) !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.292) !important;
}


.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: var(--primary);
    border-color: #024dbc;
}


.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}